<%= form_with model: comment, url: post_comment_path(@post, comment) do |form| %>
  <% if comment.errors.any? %>
    <ul>
      <% comment.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="mb-2">
    <%= form.label :content, class: "form-label" %>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="card-body px-0 d-flex flex-row justify-content-between">
    <%= link_to 'Back to post', post_path(@post), class:"btn btn-secondary" if action_name == "edit" %>
    <%= form.submit class: "btn btn-primary" %>
  </div>

<% end %>