<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header class="mb-2">
      <nav class="navbar bg-body-tertiary">
        <div class="container">
          <%= link_to "DISASTER.forum", root_path, class:"navbar-brand" %>
          <div>
            <% if user_signed_in? %>
              <div class="btn-group">
                <button class="btn btn-black dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                  <span><i class="fa-solid fa-user"></i> <%= current_user.email %></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><%= link_to 'Sign out', destroy_user_session_path, class: "dropdown-item text-end", data: {'turbo-method': :delete} %></li>
                </ul>
              </div>
            <% else %>
              <%= link_to new_user_session_path do %>
                <span><i class="fa-solid fa-user"></i> Login</span>
              <% end %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <% flash.each do |key, message| %>
      <div class="alert <%= flash_class(key) %> alert-dismissible fade show container mt-2" role="alert">
        <p class=""><%= message %></p>
        <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <%= yield %>
  </body>

  <script src="https://kit.fontawesome.com/2ced43b25f.js" crossorigin="anonymous"></script>
</html>
