<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
<header class="mb-2">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <%= link_to "DISASTER.forum", root_path, class: "navbar-brand" %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="d-flex flex-row justify-content-between w-100">
          <ul class="navbar-nav">
            <li class="nav-item d-flex flex-lg-row flex-md-column">
              <%= link_to 'Home', root_path, class:"nav-link #{"active" if action_name == "index" && controller_name == "welcome"}" %>
              <%= link_to 'My Posts', user_posts_path, class: "nav-link #{"active" if action_name == "index" && controller_name == "posts" && user_signed_in?}" %>
              <%= link_to 'My Comments', user_comments_path, class: "nav-link #{"active" if action_name == "index" && controller_name == "comments" && user_signed_in?}" %>
            </li>
          </ul>

          <div class="d-flex flex-row align-items-center">
            <% if user_signed_in? %>
              <div class="btn-group">
                <button class="btn btn-black dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                  <span><i class="fa-solid fa-user"></i> <%= current_user.email %></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><%= link_to 'Sign out', destroy_user_session_path, class: "dropdown-item text-end", data: { 'turbo-method': :delete } %></li>
                </ul>
              </div>
            <% else %>
              <%= link_to new_user_session_path, class:"dropdown-item" do %>
                <span><i class="fa-solid fa-user"></i> Login</span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<% flash.each do |key, message| %>
  <div class="alert <%= flash_class(key) %> alert-dismissible fade show container mt-2" role="alert">
    <p class=""><%= message %></p>
    <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<%= yield %>
</body>

<script src="https://kit.fontawesome.com/2ced43b25f.js" crossorigin="anonymous"></script>
</html>
